<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}

    {% endblock %}
    <ul>
        <li>
            <a href={% url 'home' %}>Home page</a>
        </li>
        <li>
            <a href="{% url 'menu_create' %}" <span class="glyphicon glyphicon-plus">Add New Menu</span></a>
        </li>
        <li>
            <a href="{% url 'sub_create' %}" <span class="glyphicon glyphicon-plus">Add New Submenu</span></a>
        </li>
        <li>
            <a href="{% url 'dish_create' %}" <span class="glyphicon glyphicon-plus">Add New Dish</span></a>
        </li>
    </ul>

</body>
</html>